<!-- start custom head snippets -->


{% seo %}

<!-- insert favicons. use http://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#eb6b18">
<link href="https://micro.blog/gerriet" rel="me" />
<meta name="apple-mobile-web-app-title" content="einbacker Software">
<meta name="application-name" content="einbacker Software">
<meta name="theme-color" content="#ffffff">

<!-- Cookie Warning, https://cookieconsent.insites.com/download/# -->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#808080",
      "text": "#e6e6e6"
    },
    "button": {
      "background": "#ff781b"
    }
  },
  "theme": "classic",
  "position": "bottom-right",
  "content": {
    "message": "Diese Webseite verwendet Cookies, um bestmögliche Funktionalität bieten zu können.",
    "dismiss": "OK, verstanden.",
    "link": "Mehr erfahren"
  }
})});
</script>

<!-- end custom head snippets -->